.transition {
    transition: 0.4s ease all;
}

.btn {
    background: $blue;
    color: $body-bg;
    display: inline-block;
    padding: 1.25rem 2.5rem;
    border-radius: 3.75rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    letter-spacing: 0.0394rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    border: 1px solid;
    @extend .transition;
}

.logo{
    font-family: $proxima;
    font-weight: 700;
    font-size: 1.6969rem;
    line-height: 2.0669rem;
}

.section-title{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3.09rem;
}