@import 'partials/00-variables';
@import 'partials/01-mixins';
@import 'partials/02-reset';
@import 'partials/03-commons';

html {
    font-size: 16px;

    @include ipad {
        font-size: 18px;
    }
}

body {
    font-family: $averta;
    background: $body-bg;
    color: $black;
}

@import "partials/header";
@import "partials/hero";
@import "partials/clients";
@import "partials/services";
@import "partials/agency";
@import "partials/reviews";
//swiper2 here
@import "partials/footer";