@import url(https://db.onlinewebfonts.com/c/72b6f2c9990bd3d37b8013a59ed78902?family=Proxima+Nova+Bold);
@import url(https://db.onlinewebfonts.com/c/3114dbb517b7c67b80e322545c5f565f?family=Averta+Demo+PE+Regular);

$blue: #2639ED;
$darkBlue: #0e29c5;
$light-blue: #F4F9FF;
$body-bg: #Fff;
$black: #000;
$grey: #A4A4A4;
$light-yellow: #FFF5DB;
$pink: #FF007A;
$orange: #FF9900;
$green: #00DA71;
$pale-green: #DEFFEE;
$font-color: #757575;



/*FONTS*/
$proxima: "Proxima Nova Bold", sans-serif;
$averta: "Averta Demo PE Regular", sans-serif;


$container-size: 1440px;

// BREAKPOINTS

$ipad: 768px;
$ipadPro: 1024px;
$laptop13: 1280px;
$laptop: 1440px;
$pc: 1920px;
$bigPc: 2560px;
$fourK: 3440px;