.hero {
    @include container;
    align-items: center;

    &__text {
        grid-column: 2/ 7;
        max-width: 540px;
    }

    &__cover {
        grid-column: 8 / -1; // Spread from the 7th column to the last column
    
        img{
            border-bottom-left-radius: 12.5rem;
        }
    }
}